API_ID=20338457
API_HASH=77abad3be4999a0cc0c5ecd6ea726549
BOT_TOKEN=7823758205:AAGHDAWm5bGTQ3sUqKJBmifGPmuJj0zJESM
OWNER_ID=5972648743
MONGO_DB_URI=mongodb+srv://boni123:Boni2213@boni123.r3jckmr.mongodb.net/?retryWrites=true&w=majority&appName=boni123
LOG_GROUP_ID=-1002547850921
MUSIC_BOT_NAME=musikbot

STRING_SESSION=BQE2VxkAgeW1rI8s5vaZW1UUlfsh6GBWJgiViu2IhZMLK5ibN21Em9UWEU1rEvzoe4gYCZ6XqWFISMwxq-vJYD4bPD2mO2yb6YBpC8KwII2LlItJIVcgmj7XxUUbHAq1yiSFFNje5gyBr5YkYKOj54TzKwTwyb0xQovgrpJQkEHudcnTHIgZyPYqAuUveMjVwlLBDrfNClqSEhEnvz0PXlmjoQkVIGsP65yka8OK2ChZ13Q_IL_DANW9JmTeIX0w8yYENxF9UpLb1tP3VlCmlR6r7buhDo0CR3qRATO7Nvgg1ZMYWBKiTcGHSuAPvakR9WD4K28TPQSczeHVfPR-r1VfHtL2mwAAAAHhlRymAA

COOKIES=https://batbin.me/laggers
