API_ID=22825582
API_HASH=dfd670029238ec6ba9e5d0e1b9ac3e1a
BOT_TOKEN=7952325406:AAHhNUCgdBUMqKbjDokgwcJJQIJjTUNHuss
OWNER_ID=6577011948
LOG_GROUP_ID=-1003131612400
MUSIC_BOT_NAME=Hanzz

STRING_SESSION=BQFcSm4AGIXmv4j-lOlbzeJP_LCOX_moaZCxVA1T43TBcealbv1O8zQEZ9idHS9v5AWr_i0pYVJfhfES_yD8cD8mJIe6sSps51iLewJo5o_kxUxWvXbNkaFnMHzjVB4gxR3AW6CEZ4w3s3OhUC7AQhdY2uvpAbz4paxlXDIkH-OZifU5FraqxTPwrCWtzQNZLjRX7stsliMFa0ez9G3HiXxWq5bZEja0diHupGwqMIZUgiQbdrnjGLcDuM8cqMpI6E85tQ4xKqpXycIb_BLRyh8fzRD7Fxpqpg7mF89ZT8Nfc8ogQasYsRZftgLHcOiw6zRPsrYrrGDR4DhyNCvyc_CrVFU0ZQAAAABr7mR4AA

# Local cookies file: cookies/cookies.txt
SQLITE_DB_PATH=data/hanzzmusic.sqlite3
