API_ID=22825582
API_HASH=dfd670029238ec6ba9e5d0e1b9ac3e1a
BOT_TOKEN=7823758205:AAGHDAWm5bGTQ3sUqKJBmifGPmuJj0zJESM
OWNER_ID=5972648743
MONGO_DB_URI=mongodb+srv://boni123:Boni2213@boni123.r3jckmr.mongodb.net/?retryWrites=true&w=majority&appName=boni123
LOG_GROUP_ID=-1002547850921
MUSIC_BOT_NAME=musikbot
STRING_SESSION=BQFcSm4AMkbcgrVzqeaPCgQcwcXlUhW2v5O435RMP_EdxWBxmtNaWxtWI5yelj8aMJ99UbhXpc3B4wnXiYkAxfXsB1_n-Gz_6a245vlrdo7BpnJmzNNGzkSiihpKq6LVA_j_zqWqGgoPIxoC1hAalAbRUkThiYgK6j8bR_dvLuG4ZYxAkGCxUfVmOap9eAPociVJ1g3Gtowo0ZfiM4yANLG_BHLEjFgLSuLURMkSwZSW3NUGggnNnTjOdSR0yK_CHq3UgXY4-YSm0SexhQLZS8iiuht0th9o_Erg5Cb1cWjO4h9zXC4LosOZWq3umKDpcZL4713xe9MzhNsodrXaGwc0BB1w7AAAAAHUMXTFAA
COOKIES=https://batbin.me/laggers
